<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name = "format-detection" content = "telephone=no"/>
    <!--
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width;" />
    -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/topcoat-mobile-light.min.css">
    <title>Light Control</title>


</head>
<body>
<!--There we store all application-->
<div class="content">
    Loading...
</div>
<!--There we show status message-->
<div class="status"></div>

<script src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/backbone.js"></script>
<script type="text/javascript" src="js/index.js"></script>

<script type="text/template" id="loadingDeviceView">
    Looking for Bluetooth Devices...
</script>

<script type="text/template" id="devicesView">
    <ul>
        <% _.each(devices, function(device){
            <li class="device"
                data-id="<%= device.id %>">
                <%= device.name%>
            </li>
        }) %>
    </ul>
    <div>
        <button class="refresh">Refresh</button>
    </div>
</script>

<script type="text/template" id="mainContentView">
    <div class="currentValuePlaceholder"></div>
    <div class="chartPlaceholder"></div>
</script>

<script type="text/template" id="currentValueView">
    <h3>
        <span>Temperature: </span>
        <span class="temperature"> <%= temperature %> </span>
    </h3>
    <h3>
        <span>Humidity: </span>
        <span class="humidity"> <%= humidity %> </span>
    </h3>
    <h3>
        <span>CO2: </span>
        <span class="co2"> <%= co2 %> </span>
    </h3>
</script>



<script type="text/javascript">
    app.initialize();
</script>
</body>
</html>