<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/topcoat-mobile-light.min.css">
    <title>Meteo</title>
</head>
<body>
<!--There we store all application-->
<div class="content">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">Header</h1>
        </div>
    </div>
</div>
<!--There we show status message-->
<div class="status"></div>

<script type="text/template" id="loadingDeviceView">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">Looking for Bluetooth Devices...</h1>
        </div>
    </div>
</script>

<script type="text/template" id="chartView">
    <canvas id="canvas" height="450" width="600"></canvas>
</script>

<script type="text/template" id="devicesView">
    <div class="topcoat-list">
        <h3 class="topcoat-list__header">Devices</h3>
        <ul class="topcoat-list__container">
            <% _.each(devices, function(device){ %>
            <li class="device topcoat-list__item" data-address="<%= device.address %>">
                <%= device.name %>
            </li>
            <% }) %>
        </ul>
    </div>
    <div>
        <button class="refresh topcoat-button">Refresh</button>
    </div>
</script>

<script type="text/template" id="mainContentView">
    <div class="currentValuePlaceholder"></div>
    <div class="tabPlaceholder"></div>
    <div class="chartPlaceholder"></div>
</script>

<script type="text/template" id="currentValueView">
    <h3>
        <span>Temperature: </span>
        <span class="temperature"> <%= temperature %> </span>
    </h3>
    <h3>
        <span>Humidity: </span>
        <span class="humidity"> <%= humidity %> </span>
    </h3>
    <h3>
        <span>CO2: </span>
        <span class="co2"> <%= co2 %> </span>
    </h3>

    <button class="topcoat-button anotherDevice">Choose another device</button>
</script>

<script type="text/template" id="tabsView">
    <div class="topcoat-tab-bar full">
        <% _.each(tabs, function(tab){%>
        <label class="topcoat-tab-bar__item">
            <input type="radio" name="tab-bar">
            <button class="topcoat-tab-bar__button full tab-item" data-id="<%= tab.id %>"><%= tab.value %></button>
        </label>
        <% }) %>
    </div>
</script>

<!--<script type="text/javascript" src="cordova.js"></script>-->

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/underscore.js"></script>
<script type="text/javascript" src="js/chart/core.js"></script>
<script type="text/javascript" src="js/chart/line.js"></script>
<script type="text/javascript" src="js/backbone.js"></script>
<script type="text/javascript" src="js/bluetoothSerialMock.js"></script>
<script type="text/javascript" src="js/script.js"></script>


</body>
</html>